html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}
body.modal-open .background-container {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    filter: url("https://gist.githubusercontent.com/amitabhaghosh197/b7865b409e835b5a43b5/raw/1a255b551091924971e7dee8935fd38a7fdf7311/blur.svg#blur");
    filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius='5');
}
.center {
    margin-top:50px;
}

.modal-header {
    padding-bottom: 5px;
}

.modal-footer {
    padding: 0;
}

.modal-footer .btn-group button {
    height:40px;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border: none;
    border-right: 1px solid #ddd;
}

.modal-footer .btn-group:last-child > button {
    border-right: 0;
}

.main-avatar {
    width: 48px;
    height: 48px;
    border-radius: 24px;
}
.main-layout .mdl-layout__header .mdl-layout__drawer-button {
    color: rgba(0, 0, 0, 0.54);
}
.mdl-layout__drawer .avatar {
    margin-bottom: 16px;
}
.main-drawer {
    border: none;
}
/* iOS Safari specific workaround */
.main-drawer .mdl-menu__container {
    z-index: -1;
}
.main-drawer .main-navigation {
    z-index: -2;
}
/* END iOS Safari specific workaround */
.main-drawer .mdl-menu .mdl-menu__item {
    display: flex;
    align-items: center;
}
.main-drawer-header {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 16px;
    height: 151px;
}
.main-avatar-dropdown {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.main-navigation {
    flex-grow: 1;
}
.main-layout .main-navigation .mdl-navigation__link {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    color: #53a567;
    font-weight: 500;
}
.main-layout .main-navigation .mdl-navigation__link:hover {
    background-color: rgba(255, 255, 255, 0.56);

}
.main-navigation .mdl-navigation__link .material-icons {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.56);
    margin-right: 32px;
}
.main-content {
    max-width: 1080px;
}
.selected{
    background-color: #ffffff;
}

/********************************************/
/****************   Cards   ****************/
.intro-card-wide.mdl-card {
    width: 412px;
}
.intro-card-wide > .mdl-card__title {
    color: #fff;
    height: 276px;
}
.intro-title{
    background: url('../Assets/brainstorm.jpg') center / cover;
}
.video-title{
    background: url('../Assets/play.gif') center / cover;
}
.social-title{
    background: url('../Assets/collaboration.jpg') center / cover;
}
.me-title{
    background: url('../Assets/success.jpg') center / cover;
}
.social-title-text{
    color: #ff2121;
}
.card-share{
    color: #ffffff;
}
.cards{
    margin-top: 2%;
    margin-left: 27%;
}
#video-card{
    margin-top: -33.7%;
    margin-left: 50%
}
#social-card{
    margin-top: 3%;
}
#me-card{
    margin-top: -33.85%;
    margin-left: 50%;
}
/**********************************************************/
/****************   Profile Information   ****************/
.add-branch-chip{
    margin-left: -15px;
    cursor: pointer;
}
.info {
    background-color: transparent;
    color: black;
    outline: 0;
    border-width: 0 0 1px 0;
    border-color: grey;
}

.info:focus {
    border-color: #0a003b;
}

.profile-content{
    margin-left: 15%;
}
#profile-checkbox{
    margin-left:45%;
    margin-top: -5%;
    position: relative;
}
.profile-name {
    font-size: 23px;
    display: table;
    margin: 5px auto;
}

.profile-email {
    font-size: 13px;
    font-style: italic;
    display: table;
    margin: -10px auto;
}
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 50px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload {
    height: 180px;
    width: 100%;
}

.profile-pic:hover .edit {
    display: block;
}

.profile-pic:hover {
    opacity: 0.4;
    filter: alpha(opacity=40);
    /* msie */
}

.edit {
    position: relative;
    left: 70px;
    bottom: 110px;
    display: none;
}

.profile-pic {
    display: block;
    max-height: 180px;
    max-width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%
}

.img-thumbnail {
    border-color:  #53a567;
    background-color: #53a567;
}

.user-info-container {
    display: table;
    border: 2px solid #3b474f;
    margin: 0px auto;
    width: 50em;
    text-align: center;
    background-color: white;
    padding-top: 15px;
}

.row {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
}

h4 {
    padding-bottom: 10px;
    color: #4679b2;
}

.btn-container{
    margin-top: -20px;
    margin-left: 70%;
}

#add-branch-button{
    padding-top: 3px;
    cursor: pointer;
}

#btn-save-info{
    background-color: #3B5998;
}


.collection {
    margin: 0.5rem 0 1rem 0;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
}

.collection .collection-item {
    background-color: #fff;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
}
.collection .collection-item:last-child {
    border-bottom: none;
}

.collection .collection-item.active {
    background-color: #1dd3c7;
    color: white;
}

.collection .collection-item {
    display: block;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    -ms-transition: 0.25s;
    transition: 0.25s;
    color: black;
}

.collection .collection-item:not(.active):hover {
    background-color: #1dd3c7;
    text-decoration: none;
    color: white;
}

.header{
    color:black;
}

.header:hover{
    color:white;
}

.collection-divider{
    height: 2px;
}

.item-divider{
    height:7px;
}

.item-divider-lr{
    margin-left: .5em;
    margin-right: .5em;
}

.collection-icon{
    margin-left: -16px;
}

.gi-2x{font-size: 1.5em;}

.collection-list{
    margin-top: -30px;
    margin-left: -3px;
}

.profile-summary{
    display: none;
    padding-top: 5%;
    padding-left: 35%;
}

/*****************************************/
/******   Brainfeed Information   *******/
.brainfeed-menu{
    margin-left: 630px;
}
#brain-feed{
    margin-left: 15%;
}
.content h1 {
    text-align: center;
}
.content .content-footer p {
    color: #6d6d6d;
    font-size: 12px;
    text-align: center;
}
.content .content-footer p a {
    color: inherit;
    font-weight: bold;
}

.panel {
    border: 1px solid #ddd;
    background-color: #fcfcfc;
}
.panel .btn-group {
    margin: 25px 0 30px;
}
.panel .btn-group .btn {
    transition: background-color .3s ease;
}
.table-filter {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}
.table-filter tbody{
    width: 30px;
}

.table-filter tbody tr:hover {
    cursor: pointer;
    background-color: #eee;
}
.table-filter tbody tr td {
    padding: 5px;
    vertical-align: middle;
    border-top-color: #eee;
}
.table-filter tbody tr.selected td {
    background-color: #eee;
}
.table-filter tr td:first-child {
    width: 38px;
}
.table-filter tr td:nth-child(2) {
    width: 35px;
}
.ckbox {
    position: relative;
}
.ckbox input[type="checkbox"] {
    opacity: 0;
}
.ckbox label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ckbox label:before {
    content: '';
    top: 1px;
    left: 0;
    width: 18px;
    height: 18px;
    display: block;
    position: absolute;
    border-radius: 2px;
    border: 1px solid #bbb;
    background-color: #fff;
}
.ckbox input[type="checkbox"]:checked + label:before {
    border-color: #2BBCDE;
    background-color: #2BBCDE;
}
.ckbox input[type="checkbox"]:checked + label:after {
    top: 3px;
    left: 3.5px;
    content: '\e013';
    color: #fff;
    font-size: 11px;
    font-family: 'Glyphicons Halflings';
    position: absolute;
}
.table-filter .star {
    color: #ccc;
    text-align: center;
    display: block;
}
.table-filter .star.star-checked {
    color: #F0AD4E;
}
.table-filter .star:hover {
    color: #ccc;
}
.table-filter .star.star-checked:hover {
    color: #F0AD4E;
}
.table-filter .media-photo {
    width: 65px;
}
.table-filter .media-gif {
    width: 100%;
}
.table-filter .media-body {
    display: block;
}
.table-filter .media-meta {
    font-size: 11px;
    color: #999;
}
.table-filter .media .title {
    color: #2BBCDE;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    margin: 0;
}
.table-filter .media{
    width: 600px;
}
.table-filter .media .title span {
    font-size: .8em;
    margin-right: 20px;
}
.table-filter .media .title span.completed {
    color: #5cb85c;
}
.table-filter .media .title span.pending {
    color: #f0ad4e;
}
.table-filter .media .title span.not_started {
    color: #d9534f;
}
.table-filter .media .summary {
    font-size: 14px;
}
#modal-branches{
    margin-left: 280px;
    margin-top: 10%;
}
#topic-dropdown{
    margin-left: 35%;
}
#branch-name{
    margin-left: 25%;
}
#number-contributors{
    margin-left: 25%;
}

.range {
    display: table;
    position: relative;
    height: 25px;
    margin-top: 20px;
    background-color: rgb(245, 245, 245);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.range input[type="range"] {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    display: table-cell;
    width: 100%;
    background-color: transparent;
    height: 25px;
    cursor: pointer;
}
.range input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    width: 11px;
    height: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0px;
    background-color: rgb(153, 153, 153);
}

.range input[type="range"]::-moz-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    width: 11px;
    height: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0px;
    background-color: rgb(153, 153, 153);
}

.range output {
    display: table-cell;
    padding: 3px 5px 2px;
    min-width: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(153, 153, 153);
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

#contributors-label{
    margin-left: 50px;
}

#contributors-time{
    margin-top: -48px;
    margin-left: 300px;
}

.range input[type="range"] {
    outline: none;
}

.range.range-primary input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(66, 139, 202);
}
.range.range-primary input[type="range"]::-moz-slider-thumb {
    background-color: rgb(66, 139, 202);
}
.range.range-primary output {
    background-color: rgb(66, 139, 202);
}
.range.range-primary input[type="range"] {
    outline-color: rgb(66, 139, 202);
}

.range.range-success input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(92, 184, 92);
}
.range.range-success input[type="range"]::-moz-slider-thumb {
    background-color: rgb(92, 184, 92);
}
.range.range-success output {
    background-color: rgb(92, 184, 92);
}
.range.range-success input[type="range"] {
    outline-color: rgb(92, 184, 92);
}

.range.range-info input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(91, 192, 222);
}
.range.range-info input[type="range"]::-moz-slider-thumb {
    background-color: rgb(91, 192, 222);
}
.range.range-info output {
    background-color: rgb(91, 192, 222);
}
.range.range-info input[type="range"] {
    outline-color: rgb(91, 192, 222);
}

.range.range-warning input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(240, 173, 78);
}
.range.range-warning input[type="range"]::-moz-slider-thumb {
    background-color: rgb(240, 173, 78);
}
.range.range-warning output {
    background-color: rgb(240, 173, 78);
}
.range.range-warning input[type="range"] {
    outline-color: rgb(240, 173, 78);
}

.range.range-danger input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(217, 83, 79);
}
.range.range-danger input[type="range"]::-moz-slider-thumb {
    background-color: rgb(217, 83, 79);
}
.range.range-danger output {
    background-color: rgb(217, 83, 79);
}
.range.range-danger input[type="range"] {
    outline-color: rgb(217, 83, 79);
}
.left-panel-branch{
    margin-left: 10%;
}
#new-branch-description-box{
    margin-left: 25%;
}

#catalog-body{
    background-color: #EEE;
}
#go-back{
    cursor: pointer;
    color: rgb(217, 199, 33);
}
#btn-start-branch{
    margin-left: 86%;
    margin-bottom: 20px;
    display: none;
}
#btn-enroll-branch{
    display: none;
    margin-left: 86%;
    margin-bottom: 20px;
}
#btn-error-branch{
    display: none;
    margin-left: 7%;
    margin-bottom: 20px;
}
#delete-branch{
    cursor: pointer;
    color: rgb(217, 83, 79);
    margin-left: 91%;
}
#input-range-right{
    margin-top: -40px;
    margin-left: 65%;
}

#structure-left{
    margin-left: 10%;
}

#structure-dropdown{
    margin-left: 3%;
}
#structure-range{
    margin-top: -55px;
    margin-left: 55%;
}
#subtopics-middle{
    text-decoration: underline;
    margin-left: 20%;
}
.subtopic{
    margin-left: 25%;
}
#subtopics{
    display: none;
}
.correct{
    color: green;
}
.red{
    color: red;
}
.large{
    font-size: 27px;
}
.br-feedback{
    color:#4679b2;
}
.branch-label{
    margin-top: -23px;
}

/**********************************************************/
/*****************   Social Information   ****************/
#social-search h3{
    margin-top: 2%;
    margin-left: 35%;
}
#handshake{
    margin-left: 35%;
    width: 500px;
}
.list-content{
    min-height:300px;
}
.list-content .list-group .title{
    background:#5bc0de;
    border:2px solid #DDDDDD;
    font-weight:bold;
    color:#FFFFFF;
}
.list-group-item img {
    height:80px;
    width:80px;
}

.jumbotron .btn {
    padding: 5px 5px !important;
    font-size: 12px !important;
}
.prj-name {
    color:#5bc0de;
}
.break{
    width:100%;
    margin:20px;
}
.name {
    color:#5bc0de;
}
.friend-zone{
    margin-left: 23%;
}
.stat-cards{
    margin-left: 39%;
}
.text-middle{
    margin-left: 370px;
}
.no-contributors{
    width: 200px;
}
#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
    -moz-transform: translate(0px, -100%) scale(0, 0);
    -o-transform: translate(0px, -100%) scale(0, 0);
    -ms-transform: translate(0px, -100%) scale(0, 0);
    transform: translate(0px, -100%) scale(0, 0);

    opacity: 0;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
    -o-transform: translate(0px, 0px) scale(1, 1);
    -ms-transform: translate(0px, 0px) scale(1, 1);
    transform: translate(0px, 0px) scale(1, 1);
    opacity: 1;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    left: 10%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}
#search .btn {
    position: absolute;
    top: 50%;
    left: 60%;
    margin-top: 61px;
    margin-left: -45px;
}
#search .close {
    position: fixed;
    top: 80px;
    right: 15px;
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    opacity: 1;
    padding: 10px 17px;
    font-size: 27px;
}

/*****************************************/
/*********  Material Buttons   **********/
button{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

button:focus {
    outline: none !important;
}
.btn {
    border-radius: 2px;
    border: 0;
    transition: .2s ease-out;
    color: #fff;
    margin: 6px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.btn:hover {
    color: #fff;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.btn:active, .btn:focus, .btn.active {
    outline: 0;
    color: #fff;
}

/*Primary*/
.btn-primary {
    background: #4285F4;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #5a95f5 !important;
}

.btn-primary.active {
    background-color: #0b51c5 !important;
}
/*Secondary*/
.btn-secondary {
    background-color: #aa66cc;
}
.btn-secondary:hover, .btn-secondary:focus {
    background-color: #b579d2 !important;
    color: #fff;
}
.btn-secondary.active {
    background-color: #773399 !important;
}
.btn-secondary.active:hover {
    color: #fff;
}
.btn-secondary.active:focus {
    color: #fff;
}

/*Default*/
.btn-default {
    background: #2BBBAD;
}
.btn-default:hover, .btn-default:focus {
    background-color: #30cfc0 !important;
}
.btn-default.active {
    background-color: #186860 !important;
}

/*Success*/
.btn-success {
    background: #00C851;
}
.btn-success:hover, .btn-success:focus {
    background-color: #00d255 !important;
}
.btn-success.active {
    background-color: #006228 !important;
}

/*Info*/
.btn-info {
    background: #33b5e5;
}
.btn-info:hover, .btn-info:focus {
    background-color: #4abde8 !important;
}
.btn-info.active {
    background-color: #14799e !important;
}

/*Warning*/
.btn-warning {
    background: #FF8800;
}
.btn-warning:hover, .btn-warning:focus {
    background-color: #ff961f !important;
}
.btn-warning.active {
    background-color: #cc8800 !important;
}

/*Danger*/
.btn-danger {
    background: #CC0000;
}
.btn-danger:hover, .btn-danger:focus {
    background-color: #db0000 !important;
}
.btn-danger.active {
    background-color: maroon !important;
}

/*Link*/
.btn-link {
    background-color: transparent;
    color: #000;
}
.btn-link:hover, .btn-link:focus {
    background-color: transparent;
    color: #000;
}

/*****************************************/
/********  Assessing Knowledge   ********/

#assess-knowledge{
    margin-left: 25%;
}
.assess-knowledge-element, .create-assess-knowledge-element{
    margin: 30px 0;
}

.assess-knowledge-element div:hover:not(.triangle),.create-assess-knowledge-element div:hover:not(.triangle){
    background-color: #ddd;
}
.assess-knowledge-element p,.create-assess-knowledge-element p{
    font-size: 15px;
    padding-top: 10px;
}
.assess-knowledge-element p {
    margin-top: 25px !important;
}
#add-mcq-option{
    margin-top: 20px;
}
.circle{
    width: 100px;
    height: 100px;
    background: #ccc;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin-right: 30px;
    display: inline-block;
}

.square{
    width: 100px;
    height: 100px;
    background: #ccc;
    margin-right: 30px;
    display: inline-block;
}

.triangle{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #ccc;
    margin-right: 30px;
    display: inline-block;
}

.triangle p{
    text-align: center;
    top: 11px;
    left: -25px;
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0px;
}
.triangle:hover{
    border-bottom: 100px solid #ddd;
}

/*****************************************/
/*********  Testimonials CSS   **********/
.testimonial{
    margin-bottom: 10px;
}

.testimonial-section {
    width: 100%;
    height: auto;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    border: 1px solid #fff;
    word-wrap: break-word;
}
.testimonial-section:after {
    top: 100%;
    left: 50px;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-top-color: #fff;
    border-width: 15px;
    margin-left: -15px;
}

.testimonial-desc {
    margin-top: 20px;
    text-align:left;
    padding-left: 15px;
}
.testimonial-desc img {
    border: 1px solid #f5f5f5;
    border-radius: 150px;
    height: 70px;
    padding: 3px;
    width: 70px;
    display:inline-block;
    vertical-align: top;
}

.testimonial-writer{
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
}

.testimonial-writer-name{
    font-weight: bold;
}

.testimonial-writer-designation{
    font-size: 85%;
}

.testimonial-writer-company{
    font-size: 85%;
}
/*---- Outlined Styles ----*/
.testimonial.testimonial-default{

}
.testimonial.testimonial-default .testimonial-section{
    border-color: #777;
}

.testimonial.testimonial-default .testimonial-section:after{
    border-top-color: #777;
}

.testimonial.testimonial-default .testimonial-desc img{
    border-color: #777;
}

.testimonial.testimonial-default .testimonial-writer-name{
    color: #777;
}

.testimonial.testimonial-primary{

}
.testimonial.testimonial-primary .testimonial-section{
    border-color: #337AB7;
    color: #286090;
    background-color: rgba(51, 122, 183, 0.1);
}

.testimonial.testimonial-primary .testimonial-section:after{
    border-top-color: #337AB7;
}

.testimonial.testimonial-primary .testimonial-desc{

}

.testimonial.testimonial-primary .testimonial-desc img{
    border-color: #337AB7;
}

.testimonial.testimonial-primary .testimonial-writer-name{
    color: #337AB7;
}

.testimonial.testimonial-info{

}
.testimonial.testimonial-info .testimonial-section{
    border-color: #5BC0DE;
    color: #31b0d5;
    background-color: rgba(91, 192, 222, 0.1);
}

.testimonial.testimonial-info .testimonial-section:after{
    border-top-color: #5BC0DE;
}

.testimonial.testimonial-info .testimonial-desc{

}

.testimonial.testimonial-info .testimonial-desc img{
    border-color: #5BC0DE;
}

.testimonial.testimonial-info .testimonial-writer-name{
    color: #5BC0DE;
}


.testimonial.testimonial-success{

}
.testimonial.testimonial-success .testimonial-section{
    border-color: #5CB85C;
    color: #449d44;
    background-color: rgba(92, 184, 92, 0.1);
}

.testimonial.testimonial-success .testimonial-section:after{
    border-top-color: #5CB85C;
}

.testimonial.testimonial-success .testimonial-desc{

}

.testimonial.testimonial-success .testimonial-desc img{
    border-color: #5CB85C;
}

.testimonial.testimonial-success .testimonial-writer-name{
    color: #5CB85C;
}

.testimonial.testimonial-warning{

}
.testimonial.testimonial-warning .testimonial-section{
    border-color: #F0AD4E;
    color: #d58512;
    background-color: rgba(240, 173, 78, 0.1);
}

.testimonial.testimonial-warning .testimonial-section:after{
    border-top-color: #F0AD4E;
}

.testimonial.testimonial-warning .testimonial-desc{

}

.testimonial.testimonial-warning .testimonial-desc img{
    border-color: #F0AD4E;
}

.testimonial.testimonial-warning .testimonial-writer-name{
    color: #F0AD4E;
}

.testimonial.testimonial-danger{
}
.testimonial.testimonial-danger .testimonial-section{
    border-color: #D9534F;
    color: #c9302c;
    background-color: rgba(217, 83, 79, 0.1);
}

.testimonial.testimonial-danger .testimonial-section:after{
    border-top-color: #D9534F;
}

.testimonial.testimonial-danger .testimonial-desc{
}

.testimonial.testimonial-danger .testimonial-desc img{
    border-color: #D9534F;
}

.testimonial.testimonial-danger .testimonial-writer-name{
    color: #D9534F;
}

/*---- Filled Styles ----*/
.testimonial.testimonial-default-filled{

}
.testimonial.testimonial-default-filled .testimonial-section{
    color: #fff;
    border-color: #777;
    background-color: #777;
}
.testimonial.testimonial-default-filled .testimonial-section:after{
    border-top-color: #777;
}
.testimonial.testimonial-default-filled .testimonial-desc img{
    border-color: #777;
    background-color: #777;
}
.testimonial.testimonial-default-filled .testimonial-writer-name{
    color: #777;
}
.testimonial.testimonial-primary-filled .testimonial-section{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.testimonial.testimonial-primary-filled .testimonial-section:after{
    border-top-color: #337AB7;
}
.testimonial.testimonial-primary-filled .testimonial-desc img{
    border-color: #2e6da4;
    background-color: #337ab7;
}
.testimonial.testimonial-primary-filled .testimonial-writer-name{
    color: #337AB7;
}
.testimonial.testimonial-info-filled .testimonial-section{
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.testimonial.testimonial-info-filled .testimonial-section:after{
    border-top-color: #5BC0DE;
}
.testimonial.testimonial-info-filled .testimonial-desc img{
    border-color: #46b8da;
    background-color: #5bc0de;
}
.testimonial.testimonial-info-filled .testimonial-writer-name{
    color: #5BC0DE;
}
.testimonial.testimonial-success-filled .testimonial-section{
    color: #fff;
    background-color: #3b474f;
    border-color: #3b474f;
}
.testimonial.testimonial-success-filled .testimonial-section:after{
    border-top-color: #3b474f;
}

.testimonial.testimonial-success-filled .testimonial-desc img{
    border-color: #3b474f;
    background-color: #3b474f;
}
.testimonial.testimonial-success-filled .testimonial-writer-name{
    color: #3b474f;
}
.testimonial.testimonial-warning-filled .testimonial-section{
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
.testimonial.testimonial-warning-filled .testimonial-section:after{
    border-top-color: #F0AD4E;
}
.testimonial.testimonial-warning-filled .testimonial-desc{

}
.testimonial.testimonial-warning-filled .testimonial-desc img{
    border-color: #eea236;
    background-color: #f0ad4e;
}
.testimonial.testimonial-warning-filled .testimonial-writer-name{
    color: #F0AD4E;
}
.testimonial.testimonial-danger-filled{

}
.testimonial.testimonial-danger-filled .testimonial-section{
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.testimonial.testimonial-danger-filled .testimonial-section:after{
    border-top-color: #D9534F;
}
.testimonial.testimonial-danger-filled .testimonial-desc{

}
.testimonial.testimonial-danger-filled .testimonial-desc img{
    border-color: #d43f3a;
    background-color: #D9534F;
}
.testimonial.testimonial-danger-filled .testimonial-writer-name{
    color: #D9534F;
}
.timer{
    margin-left: 35%;
    margin-top: -2px;
}
#countdowntimer{
    margin-left: 22.5%;
    margin-top: -40px;
    color: #D9534F;
}
.testimonial-editable{
    width: 800px;
}
#brainstorming-area{
    height: 100px;
    width: 750px;
    border: none;
}
.brainstorming-topic{
    margin-left: 2.5%;
}
#contributors{
    display: none;
}
#btn-create-branch{
    display:none;
}